[submodule "SmellDetector"]
	path = SmellDetector
	url = https://github.com/HabchiSarra/SmellDetector.git
	branch = develop
[submodule "CSVSmellTracker"]
	path = CSVSmellTracker
	url = https://github.com/HabchiSarra/CSVSmellTracker.git
	branch = master
[submodule "GitHubMiner"]
	path = GitHubMiner
	url = https://github.com/HabchiSarra/GitHubMiner.git
	branch = master
