[submodule "Harissa"]
	path = Harissa
	url = git@github.com:HSarah/Harissa.git
[submodule "HarissaMetrics"]
	path = HarissaMetrics
	url = git@github.com:HSarah/HarissaMetrics.git
[submodule "HarissaGitHub"]
	path = HarissaGitHub
	url = git@github.com:HSarah/HarissaGitHub.git
[submodule "PaprikaCommitManager"]
	path = PaprikaCommitManager
	url = git@git.evilantrules.xyz:Tandoori/PaprikaCommitManager.git
